# Node.js (frontend)
app/node_modules/
app/dist/
app/.env
app/.env.local
app/.DS_Store

# Go (backend)
api/bin/
api/vendor/
api/.env.dev
api/.env
api/.DS_Store

# Docker/DB/MinIO
api/mysql/mysql-data/
api/minio/data/

# VSCode/OS
.vscode/
*.swp
.DS_Store

# その他
.env
.env.local
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
